<section class="section green">
    <h2>Parâmetros de redefinição de senha</h2>
    <div class="form-field">
        <mat-label for="tamanho">Tamanho mínimo da senha:</mat-label>
        <mat-form-field appearance="outline" class="number">
            <input matInput name="tamanho" type="number" >
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-label for="tamanhomaximo">Tamanho máximo da senha:</mat-label>
        <mat-form-field appearance="outline" class="number">
            <input matInput name="tamanhomaximo" type="number" >
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-label for="tamanho">Caracteres especiais permitidos:</mat-label>
        <mat-form-field appearance="outline" >
            <input matInput name="tamanho" type="text" >
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-label for="captcha">Máximo de erros para Captcha:</mat-label>
        <mat-form-field appearance="outline" class="number">
            <input matInput name="captcha" type="number" >
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-label for="bloqueio">Máximo de erros para  bloqueio do usuário:</mat-label>
        <mat-form-field appearance="outline" class="number">
            <input matInput name="bloqueio" type="number" >
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-label for="requisicoes">Máximo de requisições de alterar senha do usuário por mês:</mat-label>
        <mat-form-field appearance="outline" class="number">
            <input matInput name="requisicoes" type="number" >
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-label for="alerta">Alerta de limite de requisições de alterar senha por mês:</mat-label>
        <mat-form-field appearance="outline" class="number">
            <input matInput name="alerta" type="number" >
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-label for="email">E-mail que receberá mensagens de alerta de segurança</mat-label>
        <mat-form-field appearance="outline" >
            <input matInput name="email" type="text" >
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-label for="relatorios">Dias relatório de auditoria</mat-label>
        <mat-form-field appearance="outline" class="number">
            <input matInput name="relatorios" type="number" >
        </mat-form-field>
    </div>
    <button mat-raised-button color="warn" type="submit">Salvar</button>
</section>
