@import '/src/variables.scss';

.section{
    padding: 40px 110px;
    background: $cor-branco;
    h2{
        font-size: 15px;
        font-weight: $font-bold;
        margin: 20px auto 50px auto;
        text-transform: uppercase;
        font-weight: $font-medium;
        text-align: center;
        border-bottom: 1px solid $cor-cinza;
        display: table;
    }
   

}

mat-label{
    width: 280px;
    display: inline-table;
    text-align: right;
}

mat-form-field {
    margin-right: 56px;
}

mat-form-field.number{
    margin-right: 200px;
    width: 70px;
}

.form-field{
    margin: 0 auto;
    position: relative;
    display: table;
    mat-label{
        padding-right: 5px;
    }
}

button{
    margin: 30px auto 0 auto !important;
    position: relative;
    display: table;
}