/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import 'variables.scss';

html, body { height: 100%; }

body {
    height: 100%;   
}

*{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px;
}

app-root{
  width: 100%;
}

mat-icon{
  font-family: "Material Icons" !important;
}

nav{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  border-bottom: $cor-cinza 1px solid !important;
  .navbar-brand{
    margin-left: 20px;
  }
  .user-exit{
    display: flex;
    margin-right: 20px;
    margin-bottom: 0;
    li{
      list-style: none;
      margin-left: 20px;
    }
  }
}

@media only screen and (max-width: 700px) {

}

  